<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwNLdjHrzp7OMu8lYYlpwgDT0S5XPtpeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>631603332664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.philanthrobid</string>
	<key>PROJECT_ID</key>
	<string>philanthrobid-f54c1</string>
	<key>STORAGE_BUCKET</key>
	<string>philanthrobid-f54c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631603332664:ios:7e9cb2f5e2bf9b951c88cd</string>
</dict>
</plist>